{% extends "!layout.html" %}
{% block header %}
<div style="background-color:#FFFFFF">
<img src="_static/header4.png" />
</div>
{% endblock %}

{%- set rellinks = [] %}
{% block rootrellink %}</pre>
<ul>
    <li><a href="index.html">Home</a> |</li>
    <li><a href="projects.html">Projects</a> |</li>
    <li><a href="links.html">Links</a> |</li>  
    <li><a href="https://github.com/astrodoo/ds_idl" target="_blank">IDL Routines</a> |</li>  
    <li>{% endblock %}
{% block relbar2 %}
{% endblock %}
